.input__field {
    width: 20rem;
    margin: 0.5rem 0;
    max-width: 70vw;
}

.helper-text {
    display: inline-block;
    text-align: end;
    width: 100%;
    text-decoration: none;
    font-size: 0.75rem;
}
