.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60vh;
    width: 90%;
    margin: 2rem auto;
    object-fit: cover;
    object-position: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
}
