.video-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 100%;
}

.video-buttons {
    border: solid lightgray 1px;
    margin: 2rem auto;
    display: flex;
    gap: 2rem;
}

.video-buttons button:hover {
    transform: scale(1.2);
}
